* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

@media (min-width: 360px) {
    .wrapper{
        max-width: 540px;
        height: 100vh;
    }
    
    .form-wrapper {
        width: 360px;
        height: 650px;
        flex-direction: column;
        box-shadow: 2px 5px 3px 2px #C6C5C7;
    }
    
    .form-wrapper > div {
        width: 360px;
        height: 390px;
    }

    #sign-in-form, #create-account {
        width: 360px;
        height: 390px;
    }

    #hello-friend, #welcome-back {
        width: 360px;
        height: 260px;
    }
    
    #sign-in-form > div, #create-account > div {
        font-size: 28px;
        font-weight: bolder;
        margin-bottom: 28px;
    }
    
    .soc-networks {
        width: 142px;
        height: 38px;
    }
    
    .soc-networks > div {
        font-size: 14px;
        width: 38px;
        height: 38px;
    }
    
    #sign-in-form > p, #create-account > p {
        font-size: 12px;
        margin-bottom: 9px;
    }
    
    #create-account > p {
        font-size: 12px;
    }
    
    .loginForm > p {
        font-size: 14px;
        margin-bottom: 14px;
    }
    
    input {
        font-size: 12px;
        width: 268px;
        height: 38px;
        margin-bottom: 19px;
    }
    
    input:last-child {
        font-size: 12px;
        border-radius: 30px;
        width: 144px;
        height: 38px;
    }
    
    #hello-friend > div, #welcome-back > div {
        font-size: 28px;
        font-weight: bolder;
        margin-bottom: 28px;
    }
    
    #hello-friend > div > p, #welcome-back > div > p {
        font-size: 14px;
    }
    
    button {
        font-size: 12px;
        border-radius: 24px;
        width: 144px;
        height: 38px;
    }
}

@media (min-width: 541px) {
    .wrapper{
        max-width: 799px;
        height: 100vh;
    }
    
    .form-wrapper {
        width: 540px;
        height: 840px;
        flex-direction: column;
        box-shadow: 2px 5px 3px 2px #C6C5C7;
    }
    
    .form-wrapper > div {
        width: 540px;
        height: 504px;
    }

    #sign-in-form, #create-account {
        width: 540px;
        height: 504px;
    }

    #hello-friend, #welcome-back {
        width: 540px;
        height: 336px;
    }
    
    #sign-in-form > div, #create-account > div {
        font-size: 28px;
        font-weight: bolder;
        margin-bottom: 28px;
    }
    
    .soc-networks {
        width: 142px;
        height: 38px;
    }
    
    .soc-networks > div {
        font-size: 14px;
        width: 38px;
        height: 38px;
    }
    
    #sign-in-form > p, #create-account > p {
        font-size: 12px;
        margin-bottom: 9px;
    }
    
    #create-account > p {
        font-size: 12px;
    }
    
    .loginForm > p {
        font-size: 14px;
        margin-bottom: 14px;
    }
    
    input {
        font-size: 12px;
        width: 268px;
        height: 38px;
        margin-bottom: 19px;
    }
    
    input:last-child {
        font-size: 12px;
        border-radius: 30px;
        width: 144px;
        height: 38px;
    }
    
    #hello-friend > div, #welcome-back > div {
        font-size: 28px;
        font-weight: bolder;
        margin-bottom: 28px;
    }
    
    #hello-friend > div > p, #welcome-back > div > p {
        font-size: 14px;
    }
    
    button {
        font-size: 12px;
        border-radius: 24px;
        width: 144px;
        height: 38px;
    }
}

@media (min-width: 800px) {
    .wrapper{
        max-width: 1099px;
        height: 100vh;
    }
    
    .form-wrapper {
        width: 736px;
        height: 460px;
        box-shadow: 5px 12px 7px 5px #C6C5C7;
        flex-direction: row;
    }
    
    .form-wrapper > div {
        width: 368px;
        height: 460px;
    }
    
    #sign-in-form, #create-account, #hello-friend, #welcome-back {
        width: 368px;
        height: 460px;
    }

    #sign-in-form > div, #create-account > div {
        font-size: 28px;
        font-weight: bolder;
        margin-bottom: 28px;
    }
    
    .soc-networks {
        width: 142px;
        height: 38px;
    }
    
    .soc-networks > div {
        font-size: 14px;
        width: 38px;
        height: 38px;
    }
    
    #sign-in-form > p, #create-account > p {
        font-size: 14px;
        margin-bottom: 9px;
    }
    
    .loginForm > p {
        font-size: 14px;
        margin-bottom: 14px;
    }
    
    input {
        font-size: 12px;
        width: 268px;
        height: 38px;
        margin-bottom: 19px;
    }
    
    input:last-child {
        font-size: 12px;
        border-radius: 30px;
        width: 144px;
        height: 38px;
    }
    
    #hello-friend > div, #welcome-back > div {
        font-size: 28px;
        font-weight: bolder;
        margin-bottom: 28px;
    }
    
    #hello-friend > div > p, #welcome-back > div > p {
        font-size: 14px;
    }
    
    button {
        font-size: 12px;
        border-radius: 24px;
        width: 144px;
        height: 38px;
    }
}

@media (min-width: 1100px) {
    .wrapper{
        max-width: 1599px;
        height: 100vh;
    }
    
    .form-wrapper {
        width: 956px;
        height: 598px;
        box-shadow: 6px 16px 10px 6px #C6C5C7;
        flex-direction: row;
    }
    
    .form-wrapper > div {
        width: 478px;
        height: 598px;
    }
    
    #sign-in-form, #create-account, #hello-friend, #welcome-back {
        width: 478px;
        height: 598px;
    }

    #sign-in-form > div, #create-account > div {
        font-size: 36px;
        font-weight: bolder;
        margin-bottom: 36px;
    }
    
    .soc-networks {
        width: 184px;
        height: 49px;
    }
    
    .soc-networks > div {
        font-size: 18px;
        width: 49px;
        height: 49px;
    }
    
    #sign-in-form > p, #create-account > p {
        font-size: 18px;
        margin-bottom: 11px;
    }
    
    .loginForm > p {
        font-size: 18px;
        margin-bottom: 18px;
    }
    
    input {
        font-size: 15px;
        width: 268px;
        height: 38px;
        margin-bottom: 19px;
    }
    
    input:last-child {
        font-size: 15px;
        border-radius: 30px;
        width: 187px;
        height: 49px;
    }
    
    #hello-friend > div, #welcome-back > div {
        font-size: 36px;
        font-weight: bolder;
        margin-bottom: 36px;
    }
    
    #hello-friend > div > p, #welcome-back > div > p {
        font-size: 18px;
    }
    
    button {
        font-size: 15px;
        border-radius: 24px;
        width: 187px;
        height: 49px;
    }
}

@media (min-width: 1600px) {
    .wrapper{
        max-width: 1999px;
        height: 100vh;
        box-shadow: 8px 20px 12px 8px #C6C5C7;
    }
    
    .form-wrapper {
        width: 1228px;
        height: 768px;
    }
    
    .form-wrapper > div {
        width: 614px;
        height: 768px;
    }
    
    #sign-in-form, #create-account, #hello-friend, #welcome-back {
        width: 614px;
        height: 768px;
    }

    #sign-in-form > div, #create-account > div {
        font-size: 48px;
        font-weight: 1000;
        margin-bottom: 48px;
    }
    
    .soc-networks {
        width: 236px;
        height: 64px;
    }
    
    .soc-networks > div {
        font-size: 24px;
        width: 64px;
        height: 64px;
    }
    
    #sign-in-form > p, #create-account > p {
        font-size: 24px;
        margin-bottom: 16px;
    }
    
    .loginForm > p {
        font-size: 24px;
        margin-bottom: 24px;
    }
    
    input {
        font-size: 20px;
        width: 448px;
        height: 64px;
        margin-bottom: 32px;
    }
    
    input:last-child {
        font-size: 20px;
        border-radius: 50px;
        width: 240px;
        height: 64px;
    }
    
    #hello-friend > div, #welcome-back > div {
        font-size: 48px;
        font-weight: 1000;
        margin-bottom: 48px;
    }
    
    #hello-friend > div > p, #welcome-back > div > p {
        font-size: 24px;
    }
    
    button {
        font-size: 20px;
        border-radius: 40px;
        width: 240px;
        height: 64px;
    }
}

@media (min-width: 2000px) {
    .wrapper{
        max-width: 2874px;
        height: 1310px;
    }
    
    .form-wrapper {
        width: 1536px;
        height: 960px;
        box-shadow: 10px 25px 15px 10px #C6C5C7;
    }
    
    .form-wrapper > div {
        width: 768px;
        height: 960px;
    }

    #sign-in-form, #create-account, #hello-friend, #welcome-back {
        width: 768px;
        height: 960px;
    }
    
    #sign-in-form > div, #create-account > div {
        font-size: 60px;
        font-weight: 1000;
        margin-bottom: 60px;
    }
    
    .soc-networks {
        width: 296px;
        height: 80px;
    }
    
    .soc-networks > div {
        font-size: 30px;
        width: 80px;
        height: 80px;
    }
    
    #sign-in-form > p, #create-account > p {
        font-size: 30px;
        margin-bottom: 20px;
    }
    
    .loginForm > p {
        font-size: 30px;
        margin-bottom: 30px;
    }
    
    input {
        font-size: 25px;
        width: 560px;
        height: 80px;
        margin-bottom: 40px;
    }
    
    input:last-child {
        font-size: 25px;
        border-radius: 50px;
        width: 300px;
        height: 80px;
    }
    
    #hello-friend > div, #welcome-back > div {
        font-size: 60px;
        font-weight: 1000;
        margin-bottom: 60px;
    }
    
    #hello-friend > div > p, #welcome-back > div > p {
        font-size: 30px;
    }
    
    button {
        font-size: 25px;
        border-radius: 50px;
        width: 300px;
        height: 80px;
    }
}

.wrapper{
    background: #F6F5F7;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-wrapper {
    display: flex;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
}

.form-wrapper > div {
    flex-direction: column;
    align-items: center;
    position: absolute;
}

#sign-in-form, #create-account {
    background: white;
    display: flex;
    justify-content: center;
    z-index: 2;
}

.soc-networks {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.soc-networks > div {
    font-weight: bold;
    border: 2px solid #DDDDDD;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#sign-in-form > p, #create-account > p {
    font-weight: normal;
    text-align: center;
}

.loginForm {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loginForm > p {
    font-weight: normal;
    text-align: center;
}

input {
    background: #DDDDDD;
    border: none;
    padding: 0 20px;
}

input:last-child {
    color: white;
    background-color: #EC5A3C;
    border: 2px solid;
}

#hello-friend {
    color: white;
    background: linear-gradient(to right, #EB5655 0%, #EB526E 100%);
    justify-content: center;
    display: flex;
    z-index: 1;
}

#welcome-back {
    color: white;
    background: linear-gradient(to right, #EC5A3C 0%, #EB5655 100%);
    display: flex;
    justify-content: center;
    z-index: 1;
}

#hello-friend > div > p, #welcome-back > div > p {
    font-weight: normal;
    text-align: center;
}

#block-right {
    background: #F6F5F7;
    display: flex;
    z-index: 3;
}

#block-left {
    background: #F6F5F7;
    display: flex;
    z-index: 3;
}

button {
    color: white;
    border-color: white;
    background-color: transparent;
    border: 2px solid;
}