* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.wrapper{
    max-width: 2874px;
    height: 1310px;
    background: #F6F5F7;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-wrapper {
    width: 1536px;
    height: 960px;
    display: flex;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
}

.form-wrapper > div {
    width: 768px;
    height: 960px;
    flex-direction: column;
    align-items: center;
    position: absolute;
}

#sign-in-form {
    color: black;
    background: white;
    justify-content: center;
    display: flex;
    z-index: 2;
}

#sign-in-form > div {
    font-size: 60px;
    font-weight: 1000;
    margin-bottom: 60px;
}

.soc-networks {
    width: 296px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.soc-networks > div {
    font-size: 30px;
    font-weight: bold;
    width: 80px;
    height: 80px;
    border: 2px solid #DDDDDD;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#sign-in-form > p {
    font-size: 30px;
    font-weight: normal;
    text-align: center;
    margin-bottom: 20px;
}

.loginForm {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loginForm > p {
    font-size: 30px;
    font-weight: normal;
    text-align: center;
    margin-bottom: 30px;
}

input {
    font-size: 21px;
    background: #DDDDDD;
    width: 560px;
    height: 80px;
    border: none;
    margin-bottom: 40px;
    padding: 0 20px;
}

input:last-child {
    font-size: 25px;
    color: white;
    background-color: #EC5A3C;
    border: 2px solid;
    border-radius: 50px;
    width: 300px;
    height: 80px;
}

#hello-friend {
    color: white;
    background: linear-gradient(to right, #EB5655 0%, #EB526E 100%);
    justify-content: center;
    display: flex;
    z-index: 1;
}

#hello-friend > div {
    font-size: 60px;
    font-weight: 1000;
    margin-bottom: 60px;
}

#hello-friend > div > p {
    font-size: 30px;
    font-weight: normal;
    text-align: center;
}

#welcome-back {
    color: white;
    background: linear-gradient(to right, #EC5A3C 0%, #EB5655 100%);
    display: flex;
    z-index: 1;
}

#create-account {
    background: white;
    display: flex;
    z-index: 2;
}

#block-right {
    background: #F6F5F7;
    display: flex;
    z-index: 3;
}

#block-left {
    background: #F6F5F7;
    display: flex;
    z-index: 3;
}

button {
    font-size: 25px;
    color: white;
    border-color: white;
    background-color: transparent;
    border: 2px solid;
    border-radius: 50px;
    width: 300px;
    height: 80px;
}